[Unit]
Description=Webgoat container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a webgoat 
ExecStop=/usr/bin/docker stop -t 10 webgoat 

[Install]
WantedBy=multi-user.target
