[Unit]
Description=TicketMagpie container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a ticketmagpie 
ExecStop=/usr/bin/docker stop -t 10 ticketmagpie

[Install]
WantedBy=multi-user.target
